@import url("reset.css");

/* --------------------------- START CSS ---------------------------------*/

html,
body {
        height: 100%;
        width: 100%;
        background: #555;
        overflow: hidden;
        font-family: Arial, sans-serif;
}